<div th:replace="shared/header"></div>
<form method="post" th:action="@{'/'+${pageURI}}">
    <div class="box-body">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" placeholder="Enter Name" required>
        </div>
        <div class="form-group">
            <label>Address</label>
            <input type="text" name="address" class="form-control" placeholder="Enter Address" required>
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="text" name="phone" class="form-control" placeholder="Enter Number" required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" placeholder="Enter Email" required>
        </div>
        <div class="form-group">
            <label>URL</label>
            <input type="text" name="url" class="form-control" placeholder="Enter URL" >
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="status"> Status
            </label>
        </div>
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/company" class="btn btn-danger btn">Back</a>
    </div>
</form>
<div th:replace="shared/footer"></div>

