
<div th:replace="shared/header"></div>
<form method="post" th:action="@{'/'+${pageURI}}">
    <div class="box-body">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" th:value="${record.name}" required>
        </div>
        <div class="form-group">
            <label>Address</label>
            <input type="text" name="address" class="form-control" th:value="${record.address}" required>
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="text" name="phone" class="form-control" th:value="${record.phone}" required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" th:value="${record.email}" required>
        </div>
        <div class="form-group">
            <label>URL</label>
            <input type="text" name="url" class="form-control" th:value="${record.url}" required>
        </div>


        <div class="checkbox">
            <label>
                <input type="checkbox" name="status" th:checked="${record.status}"> Status
            </label>
        </div>
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
        <input type="hidden" name="id" th:value="${record.id}">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a th:href="@{'/'+${pageURI}}" class="btn btn-danger btn">Back</a>
    </div>
</form>
<div th:replace="shared/footer"></div>

