
<div th:replace="shared/header"></div>

<form method="post" th:action="@{'/'+${pageURI}}">
    <div class="box-body">
        <div class="form-group">
            <label>Position Name</label>
            <input type="text" name="positionName" class="form-control" th:value="${record.positionName}">
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" name="status" th:checked="${record.status}"> Status
            </label>
        </div>
    </div>
    
    <div class="box-footer">
        <input type="hidden" name="id" th:value="${record.id}">
        <button type="submit" class="btn btn-success">Save</button>
        <a th:href="@{'/'+${pageURI}}" class="btn btn-danger">Back</a>
    </div>
</form>

<div th:replace="shared/footer"></div>
