<div th:replace="shared/header"></div>

<div class="box">
    <div class="box-header with-broder">
        <a th:href="@{'/'+${pageURI}+'/create'}" class="btn btn-primary btn">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>

    <div class="box-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Position Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="record:${records}">
                    <td th:text="${record.id}"></td>
                    <td th:text="${record.positionName}"></td>
                    <td>
                        <label th:if="${record.status}" class="label label-success">Active</label>
                        <label th:unless="${record.status}" class="label label-danger">Inactive</label>
                    </td>
                    <td>
                        <a th:href="@{'/'+${pageURI}+'/edit/'+${record.id}}" class="btn btn-warning btn-xs">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a th:href="@{'/'+${pageURI}+'/delete/'+${record.id}}" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="shared/footer"></div>