<div th:replace="shared/header"></div>
<form method="post" th:action="@{'/'+${pageURI}}">
    <div class="box-body">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" placeholder="Enter Name" required>
        </div>
        <div class="form-group">
            <label>Address</label>
            <input type="text" name="address" class="form-control" placeholder="Enter Address" required>
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="text" name="phone" class="form-control" placeholder="Enter Number" required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" name="email" class="form-control" placeholder="Enter Email" required>
        </div>
        <div class="form-group">
            <label>Company</label>
            <select name="company" class="form-control" required>
                <option value="">Select Company</option>
                <option th:each="company:${companies}" th:value="${company.id}" th:text="${company.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <label>Position</label>
            <select name="position" class="form-control" required>
                <option value="">Select Position</option>
                <option th:each="position:${positions}" th:value="${position.id}" th:text="${position.positionName}"></option>
            </select>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" name="status"> Status
            </label>
        </div>
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a th:href="@{'/'+${pageURI}}" class="btn btn-primary btn" id="backBtn">Back</a>
    </div>
</form>
<script>
    var backBtn = document.getElementById('backBtn');
    backBtn.onclick=function(){
        alert("Are you sure?");
    }
    
</script>
<div th:replace="shared/footer"></div>

