<div th:replace="shared/header"></div>

<div class="box">
    <div class="box-header with-border">
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div th:each="record:${records}">
            <label>Id       :</label>               
            <label th:text="${record.id}"></label><br/>
            <label>Name     :</label>           
            <label th:text="${record.name}"></label><br/>
            <label>Address      :</label>            
            <label th:text="${record.address}"></label><br/>
            <label>Phone        :</label>            
            <label th:text="${record.phone}"></label><br/>
            <label>Email        :</label>            
            <label th:text="${record.email}"></label><br/>
            <label>Company Name     :</label>            
            <label><a th:href="@{'/company/detail/'+${record.company.id}}" th:text="${record.company.name}"></a></label><br/>
            <label>Position     :</label>            
            <label th:text="${record.position.positionName}"></label>   <br/>        
            <label>Created Date     :</label>            
            <label th:text="${record.createdDate}"></label><br/>
            <label>Status       :</label>            
            <label th:if="${record.status}" class="label label-success">Active</label>
            <label th:unless="${record.status}" class="label label-danger">Inactive</label>
        </div>
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
        <a th:href="@{'/'+${pageURI}}" class="btn btn-warning">Back</a> 
    </div>

    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>

<div th:replace="shared/footer"></div>

