
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/webjars/adminlte/2.3.11/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Management System</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>

            <li class="treeview">
                <a href="/customer">
                    <i class="fa fa-dashboard"></i> 
                    <span>Customer</span>
                    <span class="pull-right-container">
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/customer"><i class="fa fa-circle-o"></i> All</a></li>
                    <li><a href="/customer/active"><i class="fa fa-circle-o"></i>Active</a></li>
                    <li class="active"><a href="/customer/inactive"><i class="fa fa-circle-o"></i> Inactive</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="/company">
                    <i class="fa fa-files-o"></i>
                    <span>Company</span>
                    <span class="pull-right-container">
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/company"><i class="fa fa-circle-o"></i> All</a></li>
                    <li><a href="/company/active"><i class="fa fa-circle-o"></i>Active</a></li>
                    <li class="active"><a href="/company/inactive"><i class="fa fa-circle-o"></i> Inactive</a></li>
                </ul>
            </li>
            
            <li class="treeview">
                <a href="/position">
                    <i class="fa fa-files-o"></i>
                    <span>Position</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>